.Header2 {
  position: fixed;
  width: 100%;
  padding: 0 0;
  z-index: 100;
  background-color: #312d31;
  height: 3em;
}

.Header2 a {
  font-family: 'ObjectSans-Bold', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #f7f4f0;
}

.HeaderWrapper2 {
  max-width: 960px;
  margin: 0 auto;
  display: block;
}

.home2 {
  margin: 0 auto;
  padding: 1em 0 0 1.75em;
  font-size: 1em;
  float: left;
}

.navo2 {
  padding: 1em 1.75em 0 0;
  float: right;
  margin: 0 0;
}

.navo2 a {
  position: relative;
  display: inline-block;
  padding: 0em 0 0 3em;
  font-size: 0.8em;
  opacity: 0.6;
}

.navo2 a::after {
  content: '';
  background: #f7f4f0;
  height: 3px;
  position: absolute;
  bottom: -13px;
  transition: 0.16s all 0.025s;
  border-radius: 2px;
}

#selected2 {
  opacity: 1;
}

#selected2:after {
  content: '';
  background: #f7f4f0;
  height: 3px;
  position: absolute;
  bottom: -13px;
  opacity: 1;
  border-radius: 2px;
  left: 42%;
  right: 0%;
}

.navo2 a::after {
  left: 100%;
  right: 0;
}

.navo2 a:hover::after {
  left: 42%;
  right: 0%;
}

@media (max-width: 640px) {
  .home2 a {
    font-size: 0.8em;
  }

  .navo2 {
    font-size: 0.8em;
    padding: 1.6em 1em;
  }

  .navo2 a {
    font-size: 0.8em;
    padding-left: 1.5em;
  }
}
