.ProjectName2 {
  float: left;
  font-family: 'Crimson', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: normal;
  font-size: 2.2em;
  color: #f7f4f0;
  padding: 1em 0 0 0;
  -webkit-font-smoothing: antialiased;
}

.ProjectDetail2 {
  font-family: 'Crimson', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  font-size: 1.5em;
  color: #857d7d;
  padding: 1.9em 2.5em 0 0;
  float: right;
  -webkit-font-smoothing: antialiased;
}

.ProjectDescription {
  font-family: 'NexaBook', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.2em;
  line-height: 1.7em;
  font-weight: 600;
  color: #f7f4f0;
  padding: 1em 0 2em 0;
  -webkit-font-smoothing: antialiased;
  width: 100%;
  max-width: 80%;
}

.AboutProject {
  margin: 0 auto;
  padding: 0 0;
  max-width: 960px;
  display: block;
}

h1 a {
  padding-right: 0.5em;
  font-size: 2.5em;
  line-height: 2em;
  padding-bottom: 1em;
}

h1 {
  font-family: 'NexaBook', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #f7f4f0;
  font-size: 1em;
  line-height: 1.5em;
}

.infobox {
  background-color: #131313;
  font-family: 'NexaLight', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #f7f4f0;
  float: right;
  line-height: 1.75em;
  width: 360px;
  display: block;
  margin: 1.5em 3.5em 0 0;
  padding: 1.25em;
}

.textbold {
  display: inline;
  font-family: 'NexaBold', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.SectionTitle2 {
  font-family: 'Crimson', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  font-size: 1.6em;
  line-height: 1em;
  color: #857d7d;
  padding: 2em 0 0 0;
  -webkit-font-smoothing: antialiased;
}

.infobox2 {
  display: none;
}

.Header1 {
  font-family: 'NexaXBold', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1em;
  color: #393939;
  -webkit-font-smoothing: antialiased;
  padding: 2em 0 1em 0;
  line-height: 1.4em;
}

.Text1 {
  font-family: 'Nexa', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1em;
  line-height: 1.5em;
  color: #393939;
  -webkit-font-smoothing: antialiased;
  width: 75%;
}

.Text2 {
  font-family: 'Nexa', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1em;
  line-height: 1.5em;
  color: #393939;
  -webkit-font-smoothing: antialiased;
  width: 75%;
  padding: 1em 0 0 0;
}

.SingleHeader {
  padding: 2em 0 1em 0;
}

@media (max-width: 640px) {
  .ProjectDetail2 {
    font-size: 1em;
    padding-top: 2.25em;
  }
  .ProjectName2 {
    font-size: 1.6em;
    padding-left: 0em;
    width: 40%;
  }
  .ProjectDescription {
    font-size: 1em;
    max-width: 90%;
  }
  .Text1 {
    width: 90%;
  }
  .Text2 {
    width: 90%;
  }
}

@media (max-width: 740px) {
  .infobox {
    display: none;
  }

  .infobox2 {
    font-family: 'NexaLight', -apple-system, BlinkMacSystemFont, 'Segoe UI',
      Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
      sans-serif;
    color: #f7f4f0;
    font-weight: 600;
    line-height: 1.75em;
    margin: -5em 0 0 0;
    padding: 1.25em;
    display: block;
    background-color: #131313;
    width: 80%;
  }
  h1 {
    padding-bottom: 3em;
  }
}
