.ProjectTitle {
  display: inline-block;
  width: 100%;
}

.ProjectName2 {
  float: left;
  font-family: 'Crimson', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: normal;
  font-size: 2.2em;
  color: #f7f4f0;
  padding: 1em 0 0 0;
  -webkit-font-smoothing: antialiased;
}

.ProjectDetail2 {
  font-family: 'Crimson', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  font-size: 1.5em;
  color: #857d7d;
  padding: 1.9em 2.5em 0 0;
  float: right;
  -webkit-font-smoothing: antialiased;
}

.ProjectDescription {
  font-family: 'NexaBold', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.2em;
  line-height: 1.7em;
  color: #f7f4f0;
  padding: 1em 0 2em 0;
  -webkit-font-smoothing: antialiased;
  width: 100%;
  max-width: 80%;
  clear: both;
}

.AboutProject {
  margin: 0 auto;
  padding: 0 0;
  max-width: 960px;
  display: block;
}

h1 a {
  padding-right: 0.5em;
  font-size: 2.5em;
  line-height: 2em;
  padding-bottom: 1em;
}

h1 {
  font-family: 'NexaBook', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #f7f4f0;
  font-size: 1em;
  line-height: 1.5em;
}

li {
  color: #393939;
  width: 80%;
}

.infobox {
  background-color: #131313;
  font-family: 'NexaLight', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #f7f4f0;
  float: right;
  line-height: 1.75em;
  width: 360px;
  display: block;
  margin: 1.5em 3.5em 0 0;
  padding: 1.25em;
}

.textbold {
  display: inline;
  font-family: 'NexaBold', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.SectionTitle2 {
  font-family: 'Crimson', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  font-size: 1.6em;
  line-height: 1em;
  color: #857d7d;
  padding: 2em 0 0 0;
  -webkit-font-smoothing: antialiased;
}

.infobox2 {
  display: none;
}

.Header1 {
  font-family: 'NexaXBold', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1em;
  color: #393939;
  -webkit-font-smoothing: antialiased;
  padding: 2em 0 1em 0;
  line-height: 1.4em;
}

.Text1 {
  font-family: 'Nexa', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1em;
  line-height: 1.5em;
  color: #393939;
  -webkit-font-smoothing: antialiased;
  width: 75%;
}

.Text2 {
  font-family: 'Nexa', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1em;
  line-height: 1.5em;
  color: #393939;
  -webkit-font-smoothing: antialiased;
  width: 75%;
  padding: 1em 0 0 0;
}

.SingleHeader {
  padding: 2em 0 1em 0;
}

.gatsby-image-wrapper {
  width: 100%;
}

.gatsby-image-wrapper2 {
  display: flex;
  flex-direction: row;
  max-width: 800px;
}

.gatsby-image-wrapper3 {
  display: flex;
  flex-direction: row;
  max-width: 960px;
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 94%;
}
.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

p {
  color: #393939;
  font-size: 1em;
  width: 80%;
}

/* BUTTONS STYLE */
.BHeader1 {
  text-align: left;
  font-family: 'NexaxBold', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #857d7d;
}

.BText1 {
  font-family: 'Crimson', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  font-size: 1.6em;
  line-height: 1em;
  color: #393939;
  padding: 0.5em 0 0 0;
  -webkit-font-smoothing: antialiased;
}

.BHeader2 {
  text-align: right;
  font-family: 'NexaxBold', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #857d7d;
}

.BText2 {
  font-family: 'Crimson', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  font-size: 1.6em;
  line-height: 1em;
  color: #393939;
  padding: 0.5em 0 0 0;
  -webkit-font-smoothing: antialiased;
  text-align: right;
}

.BWrapper {
  max-width: 900px;
  display: flex;
  justify-content: space-between;
  padding: 4em 0 1em 0;
}

.prototypes {
  display: flex;
}

.prototype1 {
  padding: 0 20px 20px 0;
  flex-grow: 1;
}

.prototype2 {
  padding: 0 20px 20px 0;
  flex-grow: 2;
}

.video-react .video-react-big-play-button {
  left: 35% !important;
  top: 50% !important;
  border: none !important;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.video-react-control-bar {
  background-color: #121212 !important;
}

.video-react-time-control {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@media (max-width: 640px) {
  .ProjectDetail2 {
    font-size: 1em;
    padding-top: 2.25em;
    padding-right: 0;
    display: block;
  }

  .ProjectName2 {
    font-size: 1.6em;
    padding-left: 0em;
    width: 50%;
    display: block;
  }
  .ProjectDescription {
    font-size: 1em;
    max-width: 100%;
    display: block;
    float: left;
    width: 100%;
  }

  .Text1 {
    width: 100%;
  }
  .Text2 {
    width: 100%;
  }
  .infobox2 {
    font-size: 0.75em;
  }

  .gatsby-image-wrapper2 {
    flex-direction: column;
  }
  .gatsby-image-wrapper3 {
    flex-direction: column;
  }
  .prototypes {
    flex-direction: row;
  }
}

@media (max-width: 740px) {
  .infobox {
    display: none;
  }
  .infobox2 {
    font-family: 'NexaLight', -apple-system, BlinkMacSystemFont, 'Segoe UI',
      Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
      sans-serif;
    color: #f7f4f0;
    font-weight: 600;
    line-height: 1.75em;
    margin: -5em 0 0 0;
    padding: 1.25em;
    display: block;
    background-color: #131313;
    width: 90%;
  }
  h1 {
    padding-bottom: 3em;
  }
  li {
    width: 100%;
  }
  p {
    width: 100%;
  }
  .prototypes {
    display: block;
  }
}
