.MyRole {
  font-family: 'NexaXBold', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1em;
  color: #393939;
  -webkit-font-smoothing: antialiased;
  padding-top: 1.5em;
  line-height: 1.4em;
}
.Workplace {
  font-family: 'Nexa', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1em;
  line-height: 1.5em;
  color: #393939;
  -webkit-font-smoothing: antialiased;
}

.Duration {
  font-family: 'NexaBook', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 0.75em;
  line-height: 1.6em;
  color: #857d7d;
  -webkit-font-smoothing: antialiased;
}

.Item1 {
  font-family: 'NexaBook', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1em;
  color: #857d7d;
  -webkit-font-smoothing: antialiased;
}

.SectionTitle {
  font-family: 'Crimson', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  font-size: 1.6em;
  line-height: 1.2em;
  color: #857d7d;
  padding: 2em 0 0 0;
  -webkit-font-smoothing: antialiased;
}

.ThingsDone {
  font-family: 'Nexa', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1em;
  line-height: 1.4em;
  color: #393939;
  -webkit-font-smoothing: antialiased;
  padding-top: 0.5em;
  padding-left: 0.75em;
}
