/* Global styles */
.scrollbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 6px;
  padding: 0px;
  margin: 53px 0 0 0;
  color: rgb(13, 13, 13, 0) !important;
  background-color: rgb(13, 13, 13, 0) !important;
  border: none !important;
  z-index: 999 !important;
  opacity: 0.9;
}

#hoge {
  background-color: #191919 !important;
  height: 5px !important;
}

ul {
  list-style: none;
}
